/*  Copyright 2011 CURE International  (email : info@cure.org)

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License, version 2, as
    published by the Free Software Foundation.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

.pfund-list {
	list-style: none;
}

.pfund-list li {
	padding-top: 5px;
}

.pfund-list label {
	font-weight: bold;
	margin-right: 5px;
}

.pfund-list abbr {
	cursor: help;
	font-style: normal;
	border: 0;
}

.pfund-field-desc small {
	font-size: 70%;
}

.pfund-progress-meter{
	float:right;
	width:240px;
	padding:10px 10px;
	margin-right:5px;
	height:30px;
	background:#efece2;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	position:relative;
}
.pfund-progress-meter .pfund-progress-bar{
	height:28px;
	width:238px;
	float:none;
	margin:0;
}
.pfund-progress-meter .pfund-progress-bar .pfund-amount-raised{
	height:30px;
}
.pfund-progress-meter .pfund-progress-met,.pfund-progress-meter .pfund-progress-goal{
	position:absolute;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	font-style:normal;
	color:#928a76;
	z-index:100;
	text-shadow:0px 1px 0px #fff;
}
.pfund-progress-meter .pfund-progress-met{
	top:14px;
	left:20px;
}
.pfund-progress-meter .pfund-progress-goal{
	top:14px;
	right:20px;
}
.pfund-progress-meter .pfund-amount{
	font-family:Tahoma,Helvetica,Arial,sans-serif;
	font-size:14px;
	color:#4b3f26;
}

.pfund-progress-bar{
	overflow:hidden;
	border-radius:5px;
	border:1px solid #928a76;
	background:#faf7ee;
	height:20px;
	width:420px;
	display:block;
	float:left;
	margin:15px 0px;
	box-shadow:inset 0px 0px 8px #b8af9a;
	-moz-box-shadow:inset 0px 0px 8px #b8af9a;
	-webkit-box-shadow:inset 0px 0px 8px #b8af9a;
}
.pfund-progress-bar .pfund-amount-raised{
	display:block;
	height:20px;
	width:0px;
	background:#92d400;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.06, rgb(117,195,0)),
		color-stop(0.53, rgb(168,215,0)));
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(117,195,0) 6%,
		rgb(168,215,0) 53%);
	border:1px solid #928a76;
	position:relative;
	left:-1px;
	top:-1px;
}

.pfund-stat{
	float:left;
	display:block;
	float:left;
	position:relative;
	margin-left:15px;
	text-align:center;
	font-size:12px;
	background:#d0cbbe;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	color:#ffffff;
	line-height:17px;
}
.pfund-stat .highlight{
	display:block;
	color:#6e5e4c;
	font-weight:bold;
	font-size:18px;
	line-height:22px;
	background:#efece2;
	min-width:90px;
	padding:5px 6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
}
